<!DOCTYPE html>

<head>
  <title>Genera un resumen</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='tic.png') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
  <script src='../static/javascript/callResumen.js'></script>
  <script src="../static/javascript/callKeywords.js"></script>
  <script src="../static/javascript/callTema.js"></script>
  <script>
        function contacto () {
        fetch('../static/contacto.html')
        .then(response => response.text())
        .then(data => {
        document.getElementById('tipoForm').innerHTML = data;
        });
}  
  </script>

</head>

<body>
  <nav>
    <ul>
      <li><a href="#" onClick="resumenForm(); return false;">Generar Resumen</a></li>
      <li><a href="#" onclick="keywordsForm(); return false;">Generar Palabras claves</a></li>
      <li><a href="#" onClick="temaForm(); return false;">Generar Tema</a></li>
      <li><a href="#" onclick="contacto()">Contacto</a></li>
    </ul>
  </nav>
  <img src="{{ url_for('static', filename='tic.png') }} " class="icon" />

  <div id="tipoForm"> </div>

  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}

  <!-- importacion de formularios a travez de Javascript -->

</body>
